@model NewsManagement.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="title">
            @Model.Title
        </div>
        <div class="time">
            @Model.CreatedTime
        </div>
        <div class="image">
            <img src="@Model.ImageUrl" width="500" height="300" />
        </div>

        <div class="short-description">
            @Model.ShortDesc
        </div>

        <div class="content">
            @Html.Raw(@Model.Content)
        </div>

        <div class="author">
            @Model.User.UserName
        </div>


    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
