@model NewsManagement.News

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div>
    <div>
        <div class="title">
            @Model.Title
        </div>
        <div class="time">
            @Model.CreatedTime
        </div>
        <div class="image">
            <img src="@Model.ImageUrl" />
        </div>
        <div class="short-description">
            @Model.ShortDesc
        </div>
        <div class="content">
            @Html.Raw(@Model.Content)
        </div>
        <div class="author">
            @Model.User.FullName
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
