@model IEnumerable<NewsManagement.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}
<style>


</style>

<h2>My News</h2>

<div>

</div>


<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/NewsImages/@item.ImageUrl" height="50" width="50" />
            </td>
            <td>
                <a href="/news/@item.Title-@item.NewsID"> @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
        </tr>
    }

</table>
